:root{
    --primary-text-color: #757575;
    --primary-header-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --background-color-1: #ECECEC;
    --background-color-2: #2F303A;
    --background-color-3: #F5F4FA;
    --background-color-4: #FFFFFF;
    --background-color-5: #E5E5E5;
    --background-color-6: #AFB1B8;
    --portfolio-border-color: #EEEEEE;
    --text-rgba-color: rgba(255, 255, 255, 0.6);
    --border-color-black: #000000;
    --border-color-grey: #AFB1B8;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color)
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-header-color);
}

a{
    color: var(--primary-header-color);
}

a:hover,
.header-contacts-envelope:hover,
.header-contacts-smartphone:hover,
a:focus,
.header-contacts-envelope:focus,
.header-contacts-smartphone:focus{
    color: var(--accent-color);
    fill: currentColor; 
}

button{
    cursor: pointer;
}
.container{
    width: 1200px;
    margin: 0;
    margin: auto;
    padding: 0px 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

img{
    display: block;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-span{
    color: var(--accent-color);
}

/*-------- social accounts links ------------ */
.social-accounts{
    width: 206px;
    height: 44px;
    padding: 0;
    margin: auto;
    display: flex;
    gap: 10px;
}
.social-accounts li{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
    border-radius: 50%;
}

.social-accounts a{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-content: center;

    border-radius: 50%;
}

.social-accounts svg{
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 12px;
    display: flex;
    align-content: flex-start;

    fill: var(--primary-text-color);
}

.social-accounts a:hover{
    background-color: var(--accent-color);
}

.social-accounts svg:hover{
    fill: var(--background-color-4);
}
/*===================== header ====================*/
.header{
    border: 1px solid;
    border-color: var(--background-color-1);
    background-color: var(--background-color-4);
}

.header .logo{
    padding: 25px 97px 25px 0px;
    margin: 0;

    color: var(--primary-header-color);
}

.header-nav{
    display: flex;
    align-items: center;
}
    /*--------- navigation list ---------*/
.header-nav-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    margin-right: auto;
}

.header-nav-list li:nth-child(1){
    margin-right: 53px;
}

.header-nav-list li:nth-child(2){
    margin-right: 70px;
}

.header a{
    text-decoration: none;
}

.header-link{
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}
    /*----- current page navigation text color ------*/
.header .current{
    color: var(--accent-color);
}

    /*------ div with contacts -------*/
.header-contacts{
    display: inline-block;
    text-align: center;
    display: flex;
}

.header-contacts .header-link{
    display: flex;
    align-items: center;
}

.header-contacts-phone,
.header-contacts-mail{
    color: var(--primary-text-color);
}

.header-contacts-mail{
    margin-right: 50px;
}
/*-------- contacts SVG --------*/
/* svg mail */
.header-contacts-envelope{
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--primary-text-color);
}
/* svg smartphone */
.header-contacts-smartphone{
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--primary-text-color);
}

/* .header-contacts-mail > svg:hover,
.header-contacts-mail a{
    color: #2196F3;
    fill: var(--accent-color);
} */
/* .header-contacts-mail:hover, 
.header-contacts > svg:hover{
    color: var(--accent-color);
    fill: var(--accent-color);
} */

/*====================== footer ====================== */
.footer{
    padding-top: 90px;
    padding-bottom: 60px;

    background-color: var(--background-color-2);
}
.footer .container{
    display: flex;
}
.footer a{
    display: inline-block;
}
.footer .logo{
    margin-bottom: 20px;
    display: block;

    color: var(--secondary-text-color);
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a{
    margin: 0;
    
    text-decoration: none;
    font-style: normal;
}

.footer li:not(:last-child){
    margin-bottom: 9px;
}

.footer-address{
    color: var(--secondary-text-color)
}
.footer address{
    margin-right: 70px;
}
.footer-contact{
    color: var(--text-rgba-color);
}

.footer-social-accounts{
    display: inline-block;
}
.footer-social-accounts p{
    margin: 0;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer-social-accounts a{
    background: rgba(255, 255, 255, 0.1);
}
.footer-social-accounts svg{
    fill: var(--secondary-text-color);
}
/* ====================index.html=================*/

    /*--------------------- main -------------------*/
.main-what-we-do-header,
.main-our-team-header{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

    /* main header */
.main-header{
    background-color: var(--background-color-2);
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), 
        url('/images/main-header-bg.jpg');
    max-height: 636px;
    max-width: 1600px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header-title{
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.main-header-btn{
    display: block;
    margin: auto;
    padding: 10px 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    
    border-radius: 4px;
    background-color: var(--accent-color);
    border: 1px solid var(--border-color-black);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-header-btn:hover,
.main-header-btn:focus{
    background-color: #0e6bb7;
}

.main ul{
    list-style: none;
}
    /*------------ features ----------*/
.main-features-header{
    display: none;
}

.main-features-list{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.main-features-list li{
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-features-list div{
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-color-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-features-list svg{
    width: 70px;
    height: 70px;
}

.main-features-title{
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.14;
    text-transform: uppercase;
}

.main-features-p{
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.71;
}

    /*----------- what we do -----------*/
.main-what-we-do{
    padding-top: 0px;
    background-color: var(--background-color-4);
}

.main-what-we-do-header{
    margin: 0;
    margin-bottom: 50px;

    text-align: center;
}

.main-what-we-do-list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-what-we-do-list img{
    width: 370px;
}

.main-what-we-do li{
    margin-bottom: 0;
}
/*
.main-what-we-do-list li:not(:last-child){
    margin-right: 30px;
}
*/
    /*---------- our team ---------*/
.main-our-team{
    background-color: var(--background-color-3);
}

.main-our-team-header{
    margin: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.main-our-team-list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    text-align: center;
}

.main-our-team-list > li{
    width: 270px;
    display: inline-block;
    padding-bottom: 30px;

    background-color: var(--background-color-4); 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-our-team-list > li:not(:last-child){
    margin-right: 30px;
}

.main-our-team-list img{
    width: 270px;
}

.main-our-team-list div{
    margin-top: 30px;
    margin-bottom: 16px;
}

.main-our-team-title{
    margin-top: 0;
    margin-bottom: 10;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.main-our-team-p{
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.18;
}
/* ======= Regular Customers ========*/
.main-customers .container{

}
.main-customers h2{
    margin-top: 0;
    margin-bottom: 50;

    font-style: normal;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}
.main-customers-list{
    padding: 0;
    display: flex;
    gap: 30px;
}

.main-customers-list li{
    width: 170px;
    height: 92px;
    /* padding: 16px 32px; */
    box-sizing: border-box;

    border: 1px var(--border-color-grey) solid;
    
}
.main-customers-list div{
    width: 100%;
    height: 100%;
    /* padding: 16px 32px; */
}
.main-customers-list svg{
    /* max-width: 106px; */
    /* max-height: 60px; */
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    fill: var(--background-color-6);
}

/* .main-customers-icon:nth-child(1) svg{
    padding: 7px 33px 6.3px 32px;
}
.main-customers-icon:nth-child(2) svg{
    padding: 3px 33px 5px 33px;
}
.main-customers-icon:nth-child(3) svg{
    padding: 8.7px 32.86px 10.12px 29.68px;
}
.main-customers-icon:nth-child(4) svg{
    padding: 8.7px 10.56px 10.68px 11px;
}
.main-customers-icon:nth-child(5) svg{
    padding: 6.77px 21.46px 7.8px 22px;
}
.main-customers-icon:nth-child(6) svg{
    padding: 6.77px 6.21px 9.31px 6px;
} */

.main-customers-list li:hover,
.main-customers-list svg:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-color: var(--accent-color);
    fill: #2196F3;
}
/*================= portfolio.html ===================*/
.portfolio-main{
    background-color:var(--background-color-4);
}

.portfolio-main ul{
    list-style: none;
}

.portfolio-main-header{
    display: none;
}
 /*-------- filter ------------  */
.portfolio-main-filter{
    margin-bottom: 50px;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

    /* portfolio filter buttons */
.portfolio-main-filter li:not(:last-child){
    margin-right: 8px;
}

.portfolio-main-filter-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    background-color: var(--background-color-3);
    border-radius: 4px;
    border: none;
}

.portfolio-main-filter-btn:hover,
.portfolio-main-filter-btn:focus{
    color: var(--secondary-text-color);

    background-color: var(--accent-color);
}

.portfolio-main-filter-btn{
    padding: 6px 26px;
}

.potrfolio-main-filter-btn-all{
    padding: 6px 53px;
}

    /*---------- portfolio projects list ------------*/
.portfolio-main-projects-list{
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-main-projects-list img{
    width: 100%;
}

.portfolio-main-projects-list li{
    width: 370px;

    background-color: var(--background-color-4);
    box-shadow: 0 0 0 1px var(--portfolio-border-color);
}

.portfolio-main-projects-list li:not(:last-child){
    margin-right: 0px;
}

.portfolio-main-projects-list div{
    padding: 20px 24px;
}

.portfolio-main-projects-list-title{
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-main-projects-list-p{
    margin: 0;    
    font-size: 16px;
    line-height: 1.9;
}